# **Practica 2**
#### _Alberto García Doménech - Pablo Daurell Marina_ (Grupo 10)
***

## Parte 1 (Análisis de sentimiento)

In [1]:
import pandas as pd

In [12]:
data = pd.read_csv("yelp_labelled.txt", sep='\t', names=['Review', 'Positive'])
data

                                                Review  Positive
0                             Wow... Loved this place.         1
1                                   Crust is not good.         0
2            Not tasty and the texture was just nasty.         0
3    Stopped by during the late May bank holiday of...         1
4    The selection on the menu was great and so wer...         1
..                                                 ...       ...
995  I think food should have flavor and texture an...         0
996                           Appetite instantly gone.         0
997  Overall I was not impressed and would not go b...         0
998  The whole experience was underwhelming, and I ...         0
999  Then, as if I hadn't wasted enough of my life ...         0

[1000 rows x 2 columns]

In [ ]:
from sklearn.model_selection import train_test_split


train_data, test_data, train_data.target, test_data.target = train_test_split()

In [1]:
from sklearn.datasets import fetch_20newsgroups

train_data = fetch_20newsgroups(subset='train', shuffle=True, random_state=42)
test_data = fetch_20newsgroups(subset='test')

Downloading 20news dataset. This may take a few minutes.
Downloading dataset from https://ndownloader.figshare.com/files/5975967 (14 MB)

W